<% layout("/layouts/boilerplate") %> 
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br>
    <h3>Create a New Listing</h3>
    <form method="POST" 
    action="/listings"
    class="needs-validation" novalidate>

      <div class="mb-3">
      <lable for="title" class="form-label">Title</lable>
      <input 
      name="listing[title]" 
      placeholder="Add a catchy title" 
      type="text" 
      class="form-control"
      required >
      <div class="invalid-feedback">Please enter a title.</div>
      <!-- llllllllllll -->

      <div class="mb-3"> 
        <label for="description" 
         class="form-label">Description</label>
        <textarea
        name="listing[description]"
         required
          class="form-control"
      ></textarea>
      <div class="invalid-feedback">Please enter a description.</div>
      </div>

      <div class="mb-3">
      <label for="image" class="form-label">Image link</label>
      <input
        name="listing[image][url]"
        placeholder="enter image URL/Link"
        type="text"
        class="form-control"
        required>
        <div class="invalid-feedback">Please provide an image link.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" 
        placeholder="1200" 
        type="number"  
        class="form-control"
        required >
        <div class="invalid-feedback">Price is required.</div>
      </div>

      <div class="mb-3 col-md-8">
         <label for="country" class="form-label">Country</label>
         <input 
         name="listing[country]" 
         placeholder="India" 
         type="text" 
         class="form-control"
         required/>
                   <div class="invalid-feedback">Country is required.</div>
      </div>
      </div>
         <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
        name="listing[location]"
        placeholder="Jaunpur, Uttar pradesh"
        type="text"
        class="form-control"
        required >
         <div class="invalid-feedback">Location is required.</div>
      </div>
      
      <button class="btn btn-dark add-btn mt-3">Add</button>
      <script src="/js/validation.js"></script>

    </form>
    </div>
    </div>